<!DOCTYPE html>
<html>
    {% include "header.html" %}
    <body>
        <h1>Payment Details</h1>
        <div class="table-responsive-sm">
            <table class="table table-sm align-middle table-bordered border-dark table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Payment ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Payment Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Discount Code</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Amount Paid</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td><a href="{{ url_for('update_payment', payment_id=row[0]) }}">Update</a></td>
                        <td><a href="{{ url_for('delete_payment', payment_id=row[0]) }}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h5 class="d-block text-end mt-2 px-5">
            <a href="/add_payment">Add</a>
        </h5>
    </body>
</html>
